<% if logged_in? %>
  <div class="col-md-6">
    <div class="text-center panel panel-default panel-primary">
      <div class="panel-heading"><h4>Routines</h4></div>
      <ul class="list-group">
        <li class="list-group-item">Make a New Routine</li>
        <li class="list-group-item">Edit Existing Routines</li>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="text-center panel panel-default panel-primary">
      <div class="panel-heading"><h4>Workouts</h4></div>
      <ul class="list-group">
        <li class="list-group-item">Log a Workout</li>
        <li class="list-group-item">View Old Workouts</li>
      </ul>
    </div>
  </div>

<% else %>
  <h1 class="text-center">This is the home page.</h1>
  <p class="text-center"><%= link_to "Log in", login_url %> or <%= link_to "Sign up", signup_url %> or something.</p>
<% end %>
