<div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8">
  <div class="panel panel-default panel-primary">
    <div class="panel-heading">All Routines</div>
    <ul class="list-group">
      <% @routines.each do |routine| %>
        <li class="list-group-item">
          <%= routine.name %>
          <div class="pull-right">
            <a href="" class="show-options-link" title="Add an exercise group."><span class="glyphicon glyphicon-plus"></span></a>

            <%= link_to edit_routine_url(routine) do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to routine_url(routine), data: {:confirm => 'Are you sure?'}, :method => :delete do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </div>
        </li>
        <li class="list-group-item" style= "display: none;">
          Add an Exercise Group
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-lg-2"></div>
</div>
